body, *{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.header{
    background-color: #21222A;
}
nav{
    display: flex;
    align-items: center;


}
nav img{
    width: 5%;
    padding: 20px 30px;

}
nav h1{
    padding: 20px 0;
    color: #61DAFB;
    margin-right: auto;
    font-weight: bolder;
    font-size: 4rem;
}
nav h2{
    color: white;
    padding-right: 20px;
}

body{
    background-color: #282D35;

}
.Content{
    margin: 30px 40px;
    background-image: url("./src/Components/Images/reactjs-icon 2.png");
    background-repeat: no-repeat;
    color: white;
    background-position: right 75%;


}
.Content h1{
    color: white;
    font-weight: bold;
    margin: 20px;
    font-size: 50px;
    padding-bottom: 20px;

}
.Content ul li{
    color: white;
    font-size: 30px;
    /*padding: 10px;*/
    /*line-height: 19px;*/
    padding-block: 20px;
}
.Content ul li::Marker{
    color: #61dafb;
}

.Footer{
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    background-color: black;
    padding-block: 10px;
}